.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.header h1 {
  font-size: 1.63rem;
  font-weight: bold;
  color: var(--text-primary);
  transition: color 0.3s ease-in-out;
}




.header {
  padding: 20px;
  transition: background-color 0.3s ease;
}

.header.light {
  background-color: white;
  color: black;
}

.header.dark {
  background-color: black;
  color: white;
}
