
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #E7F4E4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

html {
  width: 100%;
  height: 100vh;
}



/* src/App.css */
.app.light {
  background-color: #fff;
  color: #000;
}

.app.dark {
  background-color: #333;
  color: #fff;
}

.header.light {
  background-color: #f1f1f1;
}

.header.dark {
  background-color: #222;
}
